*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea/**
.idea/*
/.idea
.DS_Store
/build
/captures
*.class
android-ngn-stack/build/**
app/build/**
/android-ngn-stack/build/*
/app/build/*
/android-ngn-stack/build/
/android-ngn-stack/.externalNativeBuild/
/android-ngn-stack/.externalNativeBuild/*
/android-ngn-stack/.externalNativeBuild/**
doubango/tinyDEMO/
/app/build/
/app/release/
/app/debug/
/app/*.apk
/android-ngn-stack/*.apk
*.hprof
*.7z
*.o
*.lo
*.pc
*.pc.in
*.sln
*.vcproj
*.vcxproj
*.vcxproj.filters
*.la
*.lai
*.am
*.in
*.sh
*.tag
*.html
*.cd
.dirstamp
Makefile*
.deps/
sed*
android-ngn-stack/src/main/java/org/doubango/tinyWRAP/libtinyWRAP_la-tinyWRAP_wrap.o